[submodule "deps/GLFW"]
	path = deps/GLFW
	url = https://github.com/glfw/glfw.git
	update = checkout
	branch = 3.3.8
	ignore = dirty
[submodule "deps/GLM"]
	path = deps/GLM
	url = https://github.com/g-truc/glm.git
	update = checkout
	branch = 0.9.9.8
	ignore = dirty
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
	update = checkout
	branch = master
	ignore = dirty
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
	update = checkout
	branch = v1.89.1
	ignore = dirty
[submodule "deps/optick"]
	path = deps/optick
	url = https://github.com/bombomby/optick.git
	update = checkout
	branch = 1.4.0.0
	ignore = dirty
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
	update = checkout
	branch = v5.2.5
	ignore = dirty
[submodule "deps/etc2comp"]
	path = deps/etc2comp
	url = https://github.com/google/etc2comp.git
	update = checkout
	branch = master
	ignore = dirty
[submodule "deps/taskflow"]
	path = deps/taskflow
	url = https://github.com/taskflow/taskflow.git
	update = checkout
	branch = v3.4.0
	ignore = dirty
[submodule "deps/meshoptimizer"]
	path = deps/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
	update = checkout
	branch = v0.18
	ignore = dirty
