[submodule "deps/GLFW"]
	path = deps/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "deps/GLM"]
	path = deps/GLM
	url = https://github.com/g-truc/glm.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
