[submodule "deps/GLFW"]
	path = deps/GLFW
	url = https://github.com/glfw/glfw.git
	update = checkout
	branch = 3.3.8
[submodule "deps/GLM"]
	path = deps/GLM
	url = https://github.com/g-truc/glm.git
	update = checkout
	branch = 0.9.9.8
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
	update = checkout
	branch = master
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
	update = checkout
	branch = v1.89.1
[submodule "deps/optick"]
	path = deps/optick
	url = https://github.com/bombomby/optick.git
	update = checkout
	branch = 1.4.0.0
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
	update = checkout
	branch = v5.2.5
[submodule "deps/etc2comp"]
	path = deps/etc2comp
	url = https://github.com/google/etc2comp
